# CMake - https://github.com/github/gitignore/blob/master/CMake.gitignore

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cgal.egg-info/
*.whl
examples/java/error.txt
dist/
build*/
_skbuild/
__pycache__/

# Visual Studio Code
/.vscode/

# Conan
/.conan/
