
language: python
sudo: required
dist: xenial
python:
  - "2.7"
  - "3.7"
os:
  - linux

env:
  jobs:
    - CGAL_VER=releases/CGAL-5.0
    - CGAL_VER=master
  global:
    - CGAL_PYTHON_EXAMPLES=examples/python
    - PYCODESTYLE_CONVENTIONS="--max-line-length=120"

matrix:
  include:
  - os: osx
    env:
      - CGAL_VER=releases/CGAL-5.0
      - PATH="/usr/local/opt/python/libexec/bin:$PATH"
    osx_image: xcode11.3
    language: shell
    python: 3.7
  - os: osx
    env: 
      - CGAL_VER=master
      - PATH="/usr/local/opt/python/libexec/bin:$PATH"
    osx_image: xcode11.3
    language: shell
    python: 3.7

addons:
  homebrew:
    update: true
    packages:
      - mpfr
      - gmp
      - boost
      - cmake
      - eigen
      - swig
      - python
      - numpy
      - homebrew/cask/java
      - python
      - tbb
  apt:
    packages:
    - libmpfr-dev
    - libboost-atomic-dev
    - libboost-chrono-dev
    - libboost-date-time-dev
    - libboost-iostreams-dev
    - libboost-serialization-dev
    - libboost-system-dev
    - libboost-thread-dev
    - libeigen3-dev
    - swig
    - openjdk-8-jdk
    - libgl1-mesa-dev
    - libtbb-dev

install:
  - cmake --version
  - pip install numpy
  - pip install pycodestyle
  - git clone --depth 1 -b ${CGAL_VER} https://github.com/CGAL/cgal.git
  - cd cgal
  - mkdir build
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_BUILD_TYPE=Release ..
  - make -j2 VERBOSE=1
  - sudo make install
  - cd ../..

script:
  - pycodestyle --show-source --show-pep8 $PYCODESTYLE_CONVENTIONS $CGAL_PYTHON_EXAMPLES || pycodestyle --statistics $PYCODESTYLE_CONVENTIONS -qq $CGAL_PYTHON_EXAMPLES
#  - export JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64
#  - cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=~/.local/ -DPython_FIND_VERSION_MAJOR=$(python -c "import sys; print(sys.version_info.major)") .
#  - make -j2 VERBOSE=1 && make install -j2 && make tests -j2 VERBOSE=1 && ctest -j2 --output-on-failure
  - python setup.py bdist_wheel
