name: macOS Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

env:
  DEVELOPER_DIR: /Applications/Xcode_11.3.app/Contents/Developer
jobs:
  build:
    runs-on: macOS-latest
    strategy:
      max-parallel: 4
      matrix:
        cgal_branch: [v5.1.5, v5.2.3, v5.3, master]
        python_minor_version: [6, 7, 8]


    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Set up Python 3.${{ matrix.python_minor_version }}
      uses: actions/setup-python@v1
      with:
        python-version: 3.${{ matrix.python_minor_version }}


    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Install dependencies
      run: |
       brew install  mpfr gmp boost eigen swig homebrew/cask/java tbb
       python -m pip install --upgrade pip
       python -m pip --version
       python -m pip install numpy twine pycodestyle

    - name: Install CGAL and other dependencies
      run: |
        git clone --depth 1 -b ${{ matrix.cgal_branch }} https://github.com/CGAL/cgal.git
        cd cgal
        mkdir build
        cd build
        cmake -DCMAKE_INSTALL_PREFIX=/usr/local/opt/cgal -DCMAKE_BUILD_TYPE=Release ..
        sudo make install
        cd ../..

    - name: Installation
      run: |
        source .integration/osx_utils.sh && get_macpython_environment $MB_PYTHON_VERSION
        bash .integration/travis_install.sh ${{ runner.os }}
      env:
        MB_PYTHON_VERSION: 3.${{ matrix.python_minor_version }}

    - name: Test Installation
      run: |
        if [ ${{ github.event_name }} = 'push' ]; then
          export DO_UPLOAD="TRUE"
        fi
        bash .integration/travis.sh ${{ runner.os }} ${{ secrets.TEST_PYPI_PASSWORD }}
      env:
        CGAL_PYTHON_EXAMPLES: examples/python
        PYCODESTYLE_CONVENTIONS: "--max-line-length=120"
